<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kwy2868.finalproject">

    <!--네트워크 사용을 위해서 퍼미션 허용.-->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--지도 활용을 위한 퍼미션 허용. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--전화 연결을 위한 퍼미션.-->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!--POLICY 사용을 위해 필요한 permission-->

    <!--<uses-permission android:name="android.permission.CAMERA" />-->
    <!--<uses-feature android:name="android.hardware.camera" android:required="true" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->

    <!--&lt;!&ndash;위치정보활용시 추가&ndash;&gt;<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>-->
    <!--&lt;!&ndash;위치정보활용시 추가&ndash;&gt;<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>-->
    <!--&lt;!&ndash;WIFI 상태활용시 추가&ndash;&gt;<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>-->
    <!--&lt;!&ndash;WIFI 상태활용시 추가&ndash;&gt;<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>-->

    <application
        android:name="com.example.kwy2868.finalproject.kakao.GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity
            android:name="com.example.kwy2868.finalproject.View.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <!--네이버 로그인-->
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginInAppBrowserActivity"
            android:label="OAuth2.0 In-app" />

        <!--카카오 로그인-->
        <activity android:name="com.example.kwy2868.finalproject.kakao.KakaoSignupActivity">

        </activity>

        <activity
            android:name="com.example.kwy2868.finalproject.View.MainActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".View.HospitalDetailActivity"
            android:theme="@style/AppTheme">

        </activity>

        <activity
            android:name=".View.AddChartActivity"
            android:theme="@style/AppTheme">

        </activity>

        <activity
            android:name=".View.AddPetActivity"
            android:theme="@style/AppTheme">

        </activity>

        <activity
            android:name=".View.SettingActivity"
            android:theme="@style/AppTheme">

        </activity>

        <activity
            android:name=".View.MyPetActivity"
            android:theme="@style/AppTheme">

        </activity>

        <activity
            android:name=".View.MyChartActivity"
            android:theme="@style/AppTheme">

        </activity>

        <activity
            android:name=".View.MyBlackActivity"
            android:theme="@style/AppTheme">

        </activity>

        <activity
            android:name=".View.MyFavoriteActivity"
            android:theme="@style/AppTheme">

        </activity>

        <receiver android:name=".Util.AlarmReceiver" />

        <activity
            android:name=".View.AlertActivity"/>

        <activity
            android:name=".View.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>